/* Hide emojis if attribute is set and no title text */
[data-emoji-to-english-hide-emojis="1"] .emoji-to-english-translatable:not([data-emoji-to-english-has-translation="0"]):not([title]),
[data-emoji-to-english-hide-emojis="1"] .emoji-to-english-translatable:not([data-emoji-to-english-has-translation="0"])[title=""] {
	display: none;
}

/* Hide inline translation if tooltip available */
.emoji-to-english-translatable[title]:not([title=""]) + .emoji-to-english-translation {
	display: none;
}

:not(.emoji-to-english-translation) > .emoji-to-english-translation {
	font-size: clamp(8px, 0.75em, 16px);
	font-style: italic;
	
	background-color: rgba(230, 230, 230, 0.15);
	border: 1px solid rgba(200, 200, 200, 0.25);
}

@supports not (font-size: clamp(1em, 1em, 1em)) {
	:not(.emoji-to-english-translation) > .emoji-to-english-translation {
		font-size: 0.75em;
	}
}

.emoji-to-english-duplicate-helper .emoji-to-english-translatable,
.emoji-to-english-translation:empty {
	display: none;
}
